*.log
.DS_Store
/node_modules
/packages/*/node_modules

.cache
dist
coverage/
*.tsbuildinfo
test-results.xml
.size-limit-result.json

**/repomix-output.{txt,xml}

**/__diff_output__/**
**/__image_actual__/**
**/__image_diffs__/**
**/__image_diff_report__/**
